<h2 align="center">Editing the Article</h2>
<%= render 'articles/form' %>
<p >
  <%= link_to "Cancel", article_path, class: "btn btn-dark" %>
  <%= link_to "Delete", article_path,class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
</p>