<h1 align="center">Alpha Bloggers</h1>
<br>
<div class="text-center">
  <ul class="listing ">
  <% @users.each do |user| %>
      <li><%= link_to gravatar_for(user), user_path(user) , size: 200 %></li>
      <b><li class="article-title">
        <%= link_to user.username.upcase, user_path(user) %>
      </li>
      <li><medium ><%= pluralize(user.articles.count, "article") if user.articles %></medium></li></b>
      <br>
  <% end %>
  </ul>
</div>