<h2 align="center">About</h2>
<br><br>
<p align="center">
  <%= link_to "Articles Listing", articles_path,class: "btn btn-primary" %>
  <%= link_to 'Homepage', home_path, class: "btn btn-light" %>
</p>
