<footer class="page-footer font-small blue pt-4 fixed-bottom" style="background: goldenrod;">
  <div class="row">
  <div class="container text-center text-md-left">
      <div id="footer_text">
        <h5 class="text-uppercase">Alpha Blog</h5>
        <p>The perfect place for all your answers.</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div >
        <ul class="list-unstyled">
          <li class="text-custom"><%= link_to "Home", home_path %></li>
          <li class="text-custom"><%= link_to "About", about_path %></li>
          <li class="text-custom"><%= link_to "Articles", articles_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"  class="text-custom"> C2OO13.com</a>
  </div>
</footer>